
        *{
            margin:0 ;
            padding: 0;
        }
        ul{
            margin: 0;
            padding: 0;
        }
        li{
            margin: 0;
            padding:0;
        }
        :root{
            --font-size:62.5%;/* 1 rem = 10px */
        }
        a{
            color: #e96056;
            /* color: #fff; */
            text-decoration: none;
            transition: 0.3s;
        }
        a:hover{
            color: #154072;
            opacity: 0.9;
        }
        body{
           width: 100%; 
        }
        header{
            width: 100%;
            
        }
        .cabecalho{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content:space-between;
            font-family: Verdana, Geneva, Tahoma, sans-serif;
            background-color: #eaeaea;
            height: 11vh;

        }  
        #img-logo{

            margin: auto 0.8rem; 
            border: none; 
            width:50vh;
            height: auto; 
            background: url(img/Marca\ horizontal\ azul\ com\ salmão.webp) no-repeat;
            background-size: cover;
            width: 25vh;
            height: 10vh;
        }
        .menu{
            display: flex;
            justify-content: space-around;
            align-items: center;
            
        }

        .menu li{
            margin: 0 5rem;
            font-size: 1.5rem;
            font-weight: 600;
            list-style: none;
            display: flex;
            align-items:center;
            letter-spacing: 0.3rem;
        }
        .container{
            display: none;
        }
        main{
            z-index: -1;
            background: url(img/background-fish\ 2560x1440.svg)center center no-repeat;
            opacity: 0.7;
            background-size: cover;
            height: 60vh;
        }
        @media (max-width:915px) {
           /*  .menu{
                display: none;
            } */
            #img-logo{
                border: none;
                /* width:50vh;
                height: auto; */
                background: url(img/Marca\ horizontal\ azul\ com\ salmão.webp) no-repeat;
                background-size: cover;
                width: 20vh;
                height: 8vh;
        }
            .cabecalho{
                display: flex;
                justify-content: space-between;
                height: 9vh;
            }
            .container{
                height: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
            }
            .menu{
                z-index: 1;
                position: absolute;
               
                right: 0;
                width: 10rem;
                height: 92%;
                background-color: #154072;
                flex-direction: column;
                align-items: center;
                justify-content: space-around;
            }
            .menu li{

                margin: 4rem 0;
            }
            #checkbox-menu{
                z-index: 3;
                position: absolute;
                opacity: 0;
            }
            label{
                z-index: 3;
                margin-right: 1rem;
                cursor: pointer;
                position: relative;
                display: block;
                height: 22px;
                width: 30px;
            }
            label span{
                z-index: 3;
                position: absolute;
                display: block;
                height: 5px;
                width: 100%;
                border-radius: 30px;
                background-color: #e96056;
                transition: 0.25s ease-in-out;
            }
            label span:nth-child(1){
                top: 0;
            }
            label span:nth-child(2){
                top: 0.7rem;
            }
            label span:nth-child(3){
                top: 1.4rem;
            }
            #checkbox-menu:checked + label span:nth-child(1){   
                transform: rotate(-45deg);
                top: 0.8rem;
            }
            #checkbox-menu:checked + label span:nth-child(2){
                opacity: 0;   
            }
            #checkbox-menu:checked + label span:nth-child(3){
                transform: rotate(45deg);
                top: 0.8rem;  
            }
            
           /*  .menu-mobile{
                width: 50px;
                height: 10px;
                display: flex;
                align-items: center;
                justify-content: center;
        }
            #menu-mob{
                position: absolute;
                opacity: 0;

            }
            .menu-mobile label{
                cursor: pointer;
                position: relative;
                display: block;
                height: 22px;
                width: 30px;
            }
            #menu-mob span{
                position: absolute;
                display: block;
                height: 5px;
                width: 100%;
                border-radius: 30px;
                background-color: aqua;
                transition: 0.25s ease-in-out;
            } */
            
        }